@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Public+Sans:wght@400;500;700&display=swap');


body {
    font-family: 'Libre Baskerville', serif, 'Public Sans', sans-serif;
    overflow-x: hidden;
}


.bg-custom {
    background-color: #202B4E;
}

@media (max-width: 991px) {
    .sidebar{
        background-color: #202B4E;
    }
}

/* home */

.img-bg-home{
    position: absolute;
    z-index: -1;
    right:0;
    opacity: 0.5;
}

@media (max-width: 991.98px) {
    .img-bg-home {
        display: none;
    }
}

.img-bg-home-left{
    position: absolute;
    z-index: -1;
    left:0;
    opacity: 0.5;
    top: 441px;

}

@media (max-width: 991.98px) {
    .img-bg-home-left {
        display: none;
    }
}


.text-custom{
    color: #00BDE7;
    font-family: 'Libre Baskerville';
    font-weight: 500;
}

.text-costum-col{
    color: #FFF;
    font-family: 'Libre Baskerville';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 109.9%; /* 65.94px */
}

.p-costum-col {
    color: #00BDE7;
    font-family: 'Public Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 109.9%; /* Isso equivale a cerca de 17.584px, aproximadamente */
    text-transform: uppercase;
}


.custom-forms{
    border-radius: 4px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.04) 100%);
    backdrop-filter: blur(10px);
}

.form-select {
    border-radius: 4px;
    background-color: rgba(241, 242, 243, 0.2);
    border: none;
    padding: 8px; /* Ajuste conforme necessário */
    /* Adiciona a seta personalizada como background */
    background-image: url(images/Frame.svg);
    background-position: calc(100% - 12px) calc(50% + 2px), 
                         calc(100% - 7px) calc(50% + 2px); /* Posiciona a seta */
    background-size: 16px 16px; /* Tamanho da seta */
    background-repeat: no-repeat;
}



.text-custom-forms{
    font-size: 20px;
    font-weight: 400;
}


/* quem somos section */

.text-custom-quem-somos{
    color: #FFF;
    font-family: Libre Baskerville;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 109.9%; /* 65.94px */
}

.p-custom-quem-somos{
    color: #FFF;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}

.img-quem-somos{
    position: absolute;
    left:0;
}

/* Produtos */

.img-bg-produtos{
    position: absolute;
    left:0;
    opacity: 0.5;
    margin-top: 620px;
}

@media (max-width: 769px) {
    .img-bg-produtos, .img-bg-produtos-right, .img-bg-produtos-bottom {
        display: none;
    }
}

.img-bg-produtos-right{
    position: absolute;
    right: 0;
    opacity: 0.5;
    margin-top: -50px;
}

.img-bg-produtos-bottom{
    position: absolute;
    right: 0;
    opacity: 0.5;
    margin-top: 1500px;
}

.bg-light {
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.text-custom-produtos{
    color: #212C4F;
    font-family: Libre Baskerville;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.p-custom-produtos{
    color: #212C4F;
    font-family: Public Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    letter-spacing: 0.389px;
}

.btn-primary{
    background-color: transparent;
    width: 50%;
    border-radius: 4px;
    border: 2px solid #202B4E;
    color: #202B4E;
}

.btn-primary:hover{
    background-color: #202B4E;
    border: 2px solid white;
}

/* rede */

.text-custom-rede{
    color: #FFF;
    font-family: Libre Baskerville;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 109.9%; /* 65.94px */
}

/* feedbacks */

.custom-bg-feedback{
    border-radius: 70px;
    background: #F5F5F5;
}

.card{
    border: none;
    background: #F5F5F5;
}

.card-title{
    color: #202B4E;
    font-family: Libre Baskerville;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 109.9%; /* 21.98px */
}

.bi-star-fill{
    color:#FCD635;
}

/* footer */

.text-custom-footer{
    color: #FFF;
    font-family: Public Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.custom-link {
    color: #FFF;
    text-decoration: none;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
    letter-spacing: 0.23px; 
}

/* second footer */

.title-custom-plan-footer{
    color: #FFF;
    font-family: Public Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.23px;
}

.text-custom-plan-footer{
    color: #FFF;
    font-family: Public Sans;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.23px;

    border-radius: 2px;
    border: 1px solid #FFF;
    background: #000;
    padding: 5px;
    width: 100%;
    text-align: center;

    @media (max-width: 992px) {
        width: 40%;

    }
}